.card1{
    background-color: #a6e3a9 !important;
}
.card2{
    background-color: #cdf06c !important;
}
.card3{
    background-color: #88e3c2 !important;
}
.card4{
    background-color: #b0a0ba !important;
}
.card5{
    background-color: #a6e3a9 !important;
}

.card6{
    background-color: #cdf06c !important;
}

.card7{
    background-color: #a6e3a9 !important;
}

.card8{
    background-color: #88e3c2 !important;
}

.card9{
    background-color: #b0a0ba !important;
}